<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Button to fetch location -->
    <ion-button expand="block" (click)="fetchLocation()">Get Location</ion-button>

    <!-- Button to fetch device info -->
    <ion-button expand="block" color="secondary" (click)="fetchDeviceInfo()">Get Device Info</ion-button>

    <!-- Display location if available -->
    <div *ngIf="location" class="location-info">
      <p><strong>Latitude:</strong> {{ location.latitude }}</p>
      <p><strong>Longitude:</strong> {{ location.longitude }}</p>
      <br>
    </div>

    <!-- Display device info if available -->
    <div *ngIf="deviceInfo" class="device-info">
      <p><strong>Model:</strong> {{ deviceInfo.model }}</p>
      <p><strong>Platform:</strong> {{ deviceInfo.platform }}</p>
      <p><strong>Operating System:</strong> {{ deviceInfo.osVersion }}</p>
    </div>
  </div>
</ion-content>
